* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Cutive Mono", monospace; */
  /* font-family: "Nixie One", cursive; */
  font-family: "Life Savers", cursive;
  /* font-weight: 700; */
  /* color: white; */
  color: black;
}
ul {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  position: relative;

  /* background: black; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./img/nature-4407819_960_720.png); */
}

/* input {
  background-color: grey;
} */

.atom-loader {
  color: #e90c59;
  font-size: 150px;
}

.main-container {
  border: 1px solid green;
  border-radius: 10px;
}

/* Utility Classes */

/* .main-cont {
  position: relative;
  min-height: 100%;
  width: 100%;
} */
.we-move {
  padding-bottom: 10vh;
  font-weight: bold;
}

.header-title h1 {
  font-weight: bold;
}

.header-content p {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  margin: 2.5% 0 5%;
}

.main-quantities p {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}
.main-quantities p::before {
  content: "**";
  color: #e90c59;
}

.main-quantities h2 {
  font-weight: bold;
}

.container {
  width: 60%;
  margin: 5% auto;
  /* margin-bottom: 10vh !important; */
  padding: 2.5%;
  /* border: 1px solid green; */
  /* border-radius: 10px; */
  text-align: center;
  /* padding: 5%; */
}

.border-div {
  border: 1px solid teal;
  border-radius: 5px;
  margin-bottom: 5%;
  padding: 2%;
}

.border-div p {
  letter-spacing: 0.08rem;
}

.button {
  background-color: #265add;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10rem;
  margin: 5% auto 0;
}

.button:hover {
  background-color: #e90c59;
}

/* ................ */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 100%;
  /* grid-gap: 5%; */
}

.grid-major {
  display: flex;
  flex-direction: column;
}

.grid-major-4 {
  grid-column: 2/3;
}

.secondary form .form-number,
.secondary form .form-unit {
  color: black;
  font-weight: bold;
}

.grid-elements {
  border: 1px solid steelblue;
  border-radius: 5px;
  margin: 5%;
  padding: 2%;
  display: flex;
  /* flex-direction: column; */
  /* width: 30%; */
}

/* grid-element styling */
/* grids 1 and 4 */
.grid-element-1,
.grid-element-4 {
  border: 1px solid #e90c59;
  color: #e90c59;
}

.grid-element-1 input::placeholder,
.grid-element-1 input[value],
.grid-element-4 input[value] {
  font-weight: bold;
  color: #e90c59;
}
/* grids 2 and 5 */
.grid-element-2,
.grid-element-5 {
  border: 1px solid #265add;
  font-weight: bold;
}

.grid-element-2 input::placeholder,
.grid-element-5 input::placeholder,
.grid-element-2 input[value],
.grid-element-5 input[value] {
  font-weight: bold;
  color: #265add;
}
.grid-element-3,
.grid-element-6 {
  border: 1px solid green;
  font-weight: bold;
}

.grid-element-3 input::placeholder,
.grid-element-6 input::placeholder,
.grid-element-3 input[value],
.grid-element-6 input[value] {
  font-weight: bold;
  color: green;
}

.grid-container .column-header {
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  justify-content: center;
}

.grid-container .column-header h3 {
  font-size: 1.2rem;
}

/* grid column headers */
.grid-element-1a h3 {
  color: #e90c59;
  font-weight: 800;
}
.grid-element-1b h3 {
  color: steelblue;
  font-weight: bold;
}
.grid-element-1c h3 {
  color: green;
  font-weight: bold;
}

.form-number {
  width: 65%;
  margin: 0 auto;
}

.form-unit {
  width: 35%;
}

.radio-label {
  margin: 0 5%;
}

.grid-container button {
  grid-column: 2/3;
  grid-auto-rows: 200px !important;
}
/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Style the input fields */
.form-inline input {
  /* width: 30%; */
  /* vertical-align: middle; */
  margin: 5px 0px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* error message */
.err-message {
  visibility: hidden;
  border: 1px solid #e90c59;
  background-color: #e90c59;
  border-radius: 5px;
  font-size: 1rem;
  /* font-weight: bold; */
  width: 65%;
  margin: 5% auto 0;
  padding: 2%;
  letter-spacing: 0.1rem;
}

.err-message .err-specific {
  font-size: 1rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* Hint notes */
.hint-notes h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.hint-notes p .hint-definition {
  font-weight: bold;
  color: #e90c59;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

#confirmation {
  display: none;
  /* padding-bottom: 10vh; */
}

#loading {
  display: none;
  border: none;
}

#loading h3 {
  font-weight: bold;
  letter-spacing: 0.1rem;
}
#solution-main {
  display: none;
  margin-bottom: 10vh;
  border: 1px solid green;
  border-radius: 10px;
  width: 80%;

  margin: 5% auto;
  /* margin-bottom: 10vh !important; */
  padding: 2.5%;
}

.answer {
  font-size: 3rem;
  /* padding: 2.5%; */
}
.answer-main {
  padding-left: 5%;
  padding-right: 2.5%;
}

#reload-code {
  display: none;
  border: none;
}
#reload-code button {
  width: 40%;
}

/* footer */
#real-footer {
  background: #373b44;
  /* height: 10vh; */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.real-footer-section {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.real-footer-section h3 {
  font-weight: 300;
  font-size: 1.3rem;
  color: #fff;
  margin: 0;
}
.real-footer-section .fab {
  font-size: 1.5rem;
  color: #fff;
}
.real-footer-section .fab:hover {
  color: turquoise;
  transform: rotate(20deg);
}
.real-footer-section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.real-footer-section ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 25%;
}
.real-footer-section ul li a {
  padding: 5%;
  align-self: center;
  margin: auto;
}
@media only screen and (max-width: 576px) {
  .real-footer-section h3 {
    font-size: 1rem;
    /* padding: 5%; */
  }
  .real-footer-section .fab {
    font-size: 1.5rem;
    padding: 15%;
  }
}

/* media */
@media only screen and (max-width: 768px) {
  .container {
    border: none;
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    border: none;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr !important;
    margin: auto;
    width: 100%;
    /* grid-gap: 5%; */
  }

  .grid-major-4 {
    /* grid-column: 2/3; */
    grid-column: 1;
  }

  /* button #first-submit {
    grid-column: 1 !important;
    height: 100%;
    width: 100%;
  } */

  #reloader {
    width: 80% !important;
  }

  .answer {
    font-size: 2rem;
    /* padding: 2.5%; */
  }
}
